[Unit]
Description=Update Credfeto Notification Bot Repo
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
IOSchedulingClass=idle
CPUSchedulingPolicy=idle

WorkingDirectory=/root/work/personal/credfeto-notification-bot-docker
ExecStart=/root/work/personal/credfeto-notification-bot-docker/update

