[Unit]
Description=Update Credfeto Notification Bot Repo

[Timer]
OnBootSec=5min
OnCalendar=*:0/5
AccuracySec=30

[Install]
WantedBy=multi-user.target
